* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$charcoal: #4b4b4b;
$ash: #544c4a;
$pearl: #d9dddc;

//Ready variables
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
}

.App {
    @extend .flex-center;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: $charcoal;
    font-family: "Gantari", sans-serif;

    .radio_box_starter {
        @extend .flex-center;
        flex-direction: column;
        width: 15rem;
        height: 11.25rem;
        background-color: $pearl;
        border-radius: 3rem;
        gap: 1.5rem;
        box-shadow: 0px 3px 0px 0px rgb(34, 34, 34),
            0px 7px 10px 0px rgb(17, 17, 17),
            inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2),
            inset 0px -12px 35px 0px rgba(0, 0, 0, 0.5);

        .btn_wrapper {
            @extend .flex-center;
            background-color: rgb(83, 87, 93);
            box-shadow: 0px 3px 0px 0px rgb(34, 34, 34),
                0px 7px 10px 0px rgb(17, 17, 17),
                inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2),
                inset 0px -12px 35px 0px rgba(0, 0, 0, 0.5);
            width: 50%;
            height: 50%;
            border-radius: 3rem;
            transition: 200ms all ease-in-out;
            i {
                font-size: 4rem;
                transition: 200ms all ease-in-out;
                cursor: pointer;
            }
        }

        .dot_off {
            display: block;
            width: 0.75rem;
            height: 0.75rem;
            background-color: rgb(226, 0, 0);
            box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5),
                0px 0px 3px 2px rgba(226, 0, 0, 0.5);
            border-radius: 100%;
            transition: 500ms all ease-in-out;
        }
        .dot_on {
            width: 0.75rem;
            height: 0.75rem;
            box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5),
                0px 0px 3px 2px rgba(135, 187, 83, 0.5);
            background-color: rgb(135, 187, 83);
            border-radius: 100%;
            transition: 100ms all ease-in-out;
        }
        .btn_clicked {
            color: white;
            transform: scale(0.8);
            transition: 200ms all ease-in-out;
        }
        .wrapper_clicked {
            transform: translateY(5px);
            transition: 200ms all ease-in-out;
        }
    }
    .radio_box {
        box-shadow: 0px 3px 0px 0px rgb(34, 34, 34),
            0px 7px 10px 0px rgb(17, 17, 17),
            inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2),
            inset 0px -12px 35px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 45rem;
        background-color: $pearl;
        border-radius: 3rem;
        header {
            @extend .flex-spaceBetween;
            height: 20%;
            width: 100%;
            border-top-right-radius: 3rem;
            border-top-left-radius: 3rem;
            padding: 3vh;
            background: linear-gradient(
                0deg,
                rgba(60, 60, 60, 1) 2%,
                rgba(128, 126, 119, 1) 49%,
                rgba(217, 221, 220, 1) 100%
            );

            i,
            h2 {
                font-size: 3vh;
                padding: 1rem;
            }
            i {
                cursor: pointer;
            }
            .fa-power-off {
                box-shadow: 0px 3px 0px 0px rgb(34, 34, 34),
                    0px 7px 10px 0px rgb(17, 17, 17),
                    inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2),
                    inset 0px -12px 35px 0px rgba(0, 0, 0, 0.5);
                border-radius: 2rem;
                color: white;
            }
        }
        .error_msg {
            @extend .flex-center;
            flex-direction: column;
            width: 100%;
            height: 65%;
            font-size: larger;
            color: red;
            padding: 1rem;
            text-align: center;
        }
        .channels_list {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 65%;
            padding: 1rem;
            overflow: scroll;

            .album_single {
                @extend .flex-center;
                flex-direction: column;
                transition: 1s all ease-in-out;
                .visual_details {
                    @extend .flex-spaceBetween;
                    i {
                        font-size: 5vh;
                    }
                    img {
                        padding: 1rem;
                        width: 20vh;
                        height: fit-content;
                    }
                }
                p {
                    width: 100%;
                    text-align: center;
                    font-size: 2vh;
                }
            }

            .albums {
                @extend .flex-center;
                flex-direction: column;
                .album_item {
                    p {
                        padding: 3rem 1rem 3rem 1rem;
                        width: 100%;
                        text-align: center;
                        font-size: 3vh;
                        border-bottom: 2px solid #ccc;
                    }
                }
            }
            .channel_visible {
                display: block;
            }
        }
        .channel_current {
            @extend .flex-center;
            height: 15%;
            width: 100%;
            border-top: 2px solid #ccc;
            strong {
                font-size: 1.6vh;
            }
            .current_song {
                width: 100%;
                text-align: center;
                font-size: 2vh;
            }
        }
    }
}
//scroll style
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Adjust the margin based on your layout */
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
